<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <img src="" data-th-src="|cid:logo|" class="center-block img-responsive"
                 alt="Rogaland Fylkeskommune logo"/>
        </div>
    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col-xs-12">
            <h2 th:text="'Hei / Dear ' + ${consultantFullname} + '!'"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p th:text="'Velkommen som konsulent hos Rogaland fylkeskommune. Under finner du det du trenger for å få koblet deg til systemene hos oss. Hvis du trenger mer informasjon så ta kontakt med meg.'"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p th:text="'For tilgang til Citrix skrivebord: Send SMS med innhold «rogfk fo» til 2401 – vent opptil 5 minutt - benytt url: https://login.rogfk.no og logg på med brukernavn og passord. Du vil da kunne starte Citrix applikasjonen.'"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p th:text="'Welcome as a consultant at Rogaland fylkeskommune. This email will give you the necessary information to connect to our systems. Do not hesitate to contact me if you have any questions.'"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p th:text="'For access to Citrix desktop: Send SMS containing «rogfk fo» to 2401 – wait up to 5 minutes – use url: https://login.rogfk.no and log in with username and password. You will then be able to start the Citrix application'"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                <strong th:text="'Ditt brukernavn er / Your username is: ' + ${consultantUsername}"/><br/>
                Passordet vil bli sendt på SMS / The password will be sent by SMS. Du kan endre passordet ditt her: / You can change your password here: https://minkonto.rogfk.no
            </p>
        </div>
    </div>

    <br/>
    <br/>
    <div class="row">

        <p>
            <strong>Med vennlig hilsen / Best Regards</strong>
            <div th:text="${ownerFullname}"/>
            <div th:text="'M: ' + ${ownerMobile} + ' | E: ' + ${ownerEmail}"/>
        <br/><br/><br/>
        <small>
            Rogaland fylkeskommune | IKT- og arkivavdeling | T: 51 51 67 00 | E: brukerhjelp@rogfk.no | W: <a
                href="http://www.rogfk.no">http://www.rogfk.no</a>
        </small>

        </p>
    </div>

</div>


</body>

</html>